:root {
  --primary-light: #f8fafc;
  --primary-dark: #334155;
  --primary-green: #84cc16;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--primary-light);
  background: linear-gradient(to top, #4b79a1, #283e51);
}

.header {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7.6rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.logo > i {
  font-size: 4.8rem;
  color: var(--primary-green);
}

.logo > h1 {
  font-size: 4.2rem;
}

.stats {
  display: flex;
  gap: 28px;
  border: 2px solid var(--primary-green);
  border-radius: 3px;
  padding: 1.2rem 3.6rem;
  user-select: none;
}

.stats > div {
  text-align: center;
}

.stats > div:not(:last-child) {
  padding-right: 2.8rem;
  border-right: 2px dotted var(--primary-green);
}

.main {
  max-width: 1140px;
  margin: 0 auto;
}

.menu {
  background-color: var(--primary-green);
  border-radius: 3px;
  padding: 1rem;
  margin-top: 3.6rem;
}

.btn {
  border: 0;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-dark);
  background-color: var(--primary-light);
} 
