:root {
  --primary-light: #f8fafc;
  --primary-dark: #334155;
  --primary-green: #84cc16;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  max-width: 1140px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 36px;
  font-size: 1.6rem;
  color: var(--primary-light);
  background: linear-gradient(to top, #4b79a1, #283e51);
  padding: 5.6rem 2rem 2rem 2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.logo > i {
  font-size: 4.8rem;
  color: var(--primary-green);
}

.logo > h1 {
  font-size: 4.2rem;
}

.stats {
  display: flex;
  gap: 28px;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  border-radius: 3px;
  padding: 0.8rem 3.6rem;
  user-select: none;
}

.stats > div {
  text-align: center;
}

.stats > div:not(:last-child) {
  padding-right: 2.8rem;
  border-right: 1px solid var(--primary-dark);
}

.stats-item > p:first-child {
  font-size: 1.4rem;
}

.stats-item > p:last-child {
  font-size: 2rem;
  font-weight: 700;
}

.menu {
  background-color: var(--primary-green);
  border-radius: 3px;
  padding: 1rem;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 18px;
  margin-top: 1.4rem;
}

.book {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-radius: 3px;
}

.book > h2 {
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 1.8rem;
}

.book > p {
  margin-bottom: 1.2rem;
}

.footer {
  grid-row: 3;
  font-size: 1.4rem;
  text-align: center;
}
